{# Import the theme's layout. #}
{% extends "base.html" %}

  {%- macro relbar2 () %}
  <div class="md-relbar2__inner md-grid">
  <div class="md-content">
    <article class="md-content__inner md-typeset" role="main">    
      <h3>Contact us </h3>
         <p>For free technical help, visit the Percona <a class="reference external" href="https://forums.percona.com/c/percona-monitoring-and-management-pmm/30/all" target="_blank">Community Forum</a>.<br>
          <p>To report bugs or submit feature requests, open a <a class="reference external" href="https://jira.percona.com/projects/PMM/issues/" target="_blank">JIRA</a> ticket.<br>
           <p>For paid <a class="reference external" href="https://www.percona.com/services/support"> support </a> and <a class="reference external" href="https://www.percona.com/services/managed-services"> managed </a> or <a class="reference external" href="https://www.percona.com/services/consulting">consulting services </a>, contact <a class="reference external" href="https://www.percona.com/about-percona/contact" target="_blank">Percona Sales</a>.</p>
    </article>
  </div>
  </div>
  
  {%- endmacro %}
                
                 {% block extrahead %}
                 {{ super() }}
                 {% set title = config.site_name %}
                 {% if page and page.meta and page.meta.title %}
                 {% set title = title ~ " - " ~ page.meta.title %}
                 {% elif page and page.title and not page.is_homepage %}
                 {% set title = title ~ " - " ~ page.title %}
                 {% endif %}
                 <meta property="og:type" content="website" />
                 <meta property="og:title" content="{{ title }}" />
                 <meta property="og:image" content="https://docs.percona.com/percona-monitoring-and-management/_images/PMM.png">
                 <meta property="og:url" content="https://docs.percona.com/percona-monitoring-and-management/">
              {% endblock %}

              {% block site_nav %}
              {% if nav %}
                {% if page.meta and page.meta.hide %}
                  {% set hidden = "hidden" if "navigation" in page.meta.hide %}
                {% endif %}
                <div class="md-sidebar md-sidebar--primary" data-md-component="sidebar" data-md-type="navigation" {{ hidden }}>
                  <div class="md-sidebar__scrollwrap">
                    <div class="md-sidebar__inner">
                      {% include "partials/nav.html" %}
                      <br>
                      <label class="md-nav__title" for="__drawer">
    </label> 
                    </div>
                  </div>
                </div>
              {% endif %}
              {% if "toc.integrate" not in features %}
                {% if page.meta and page.meta.hide %}
                  {% set hidden = "hidden" if "toc" in page.meta.hide %}
                {% endif %}
                <div class="md-sidebar md-sidebar--secondary" data-md-component="sidebar" data-md-type="toc" {{ hidden }}>
                  <div class="md-sidebar__scrollwrap">
                    <div class="md-sidebar__inner">
                      {% include "partials/toc.html" %}
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endblock %}