# MkDocs configuration for default Material-themed build
INHERIT: mkdocs-base.yml

site_url: https://docs.percona.com/percona-monitoring-and-management/

plugins:
  section-index: {}

features:
  - search.highlight
  - navigation.top
  - navigation.tracking 
  - content.tabs.link
  - content.action.edit
  - content.action.view
  - content.code.copy 

#Google Analytics configuration
extra:
  analytics:
    provider: google
    property: UA-343802-3
    
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
