<!-- Determine classes -->
{% set class = "md-header" %}
{% if "navigation.tabs.sticky" in features %}
  {% set class = class ~ " md-header--shadow md-header--lifted" %}
{% elif "navigation.tabs" not in features %}
  {% set class = class ~ " md-header--shadow" %}
{% endif %}

<!-- Header -->
<header class="{{ class }}" data-md-component="header">

  <!-- Super Nav -->
  <div class="superNav">
    <div class="md-header__inner md-grid">
      <a href="https://docs.percona.com/percona-lab/" title="Percona Documentation home page">
        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <mask id="a" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
            <path d="M0 0h24v24H0z"/>
          </mask>
          <g mask="url(#a)">
            <path d="m7.825 13 5.6 5.6L12 20l-8-8 8-8 1.425 1.4-5.6 5.6H20v2H7.825Z"/>
          </g>
        </svg>
        <span>Percona Documentation</span>
      </a>
    </div>
  </div>

  <nav
    class="md-header__inner md-grid"
    aria-label="{{ lang.t('header') }}"
  >

    <!-- Link to home -->
    <a
      href="{{ config.extra.homepage | d(nav.homepage.url, true) | url }}"
      title="{{ config.site_name | e }}"
      class="md-header__button md-logo"
      aria-label="{{ config.site_name }}"
      data-md-component="logo"
    >
      {% include "partials/logo.html" %}
    </a>

    <!-- Button to open drawer -->
    <label class="md-header__button md-icon" for="__drawer">
      {% set icon = config.theme.icon.menu or "material/menu" %}
      {% include ".icons/" ~ icon ~ ".svg" %}
    </label>

    <!-- Header title -->
    <div class="md-header__title">
      <div class="md-header__ellipsis">
        <a href="{{ config.extra.homepage | d(nav.homepage.url, true) | url }}" class="md-header__topic">
          <span class="md-ellipsis">
            {{ config.site_name }}
          </span>
        </a>
        <div class="md-header__topic" data-md-component="header-topic">
          <span class="md-ellipsis">
            {% if page.meta and page.meta.title %}
              {{ page.meta.title }}
            {% else %}
              {{ page.title }}
            {% endif %}
          </span>
        </div>
      </div>
    </div>

    <!-- Color palette toggle -->
    {% if config.theme.palette %}
      {% if not config.theme.palette is mapping %}
        {% include "partials/palette.html" %}
      {% endif %}
    {% endif %}

    <!-- User preference: color palette -->
    {% if not config.theme.palette is mapping %}
      {% include "partials/javascripts/palette.html" %}
    {% endif %}

    <!-- Site language selector -->
    {% if config.extra.alternate %}
      {% include "partials/alternate.html" %}
    {% endif %}

    <!-- Button to open search modal -->
    {% if "material/search" in config.plugins %}
      <label class="md-header__button md-icon" for="__search">
        {% set icon = config.theme.icon.search or "material/magnify" %}
        {% include ".icons/" ~ icon ~ ".svg" %}
      </label>

      <!-- Search interface -->
      {% include "partials/search.html" %}
    {% endif %}

    <!-- Repository information -->
    <div class="md-header__source">
    <a href="https:/github.com/percona/pmm-doc/" title="Go to repository" 
     class="md-source" data-md-component="source">
    <div class="md-source__icon md-icon">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"> 
    <!--! Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome. com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2024 Fonticons, Inc. -->
        <path d="439.55 236.05 244 40.45a28.87 28.87 0 0 0-40.81 01-40.66 40.63 51.52 51.52
        C27.06-9.14 52.68 16.77
        43.39 43.68149.66 49.66034.23-11.8 61.18 31 35.47 56.69-26.4
        9 26.49-70.21-2.87-56-37.34L240.22 199v121.8525.3 12.54 22.26 41.85 9.08 55a34.34 3
        4.34 0 0 1-48.55 0c-17.57-17.6-11.07-46.91 11.25-56v-123c-20.8-8.51-24.6-30.74-18.64
        -45L142.57 101 8.45 235.14a28.86 28.86 0 0 0 0 40.811195.61 195.6a28.86 28.86 0 0 0
        40.8 01194.69-194.69a28.86 28.86 0 0 0 0-40.81z"></path>
    </svg>
  </div>
    <div class="md-source__repository md-source__repository--active">
    " percona/pmm-doc "
    <ul class="md-source__facts">
    <li class="md-source__fact md-source__fact--version">v.3.0.0</li>
    <li class="md-source__fact md-source__fact--stars">38</li>
    <li class="md-source__fact md-source__fact—-forks">83</li>
    </ul>
    </div>
    </a>
    </div>
  </nav>

  <!-- Navigation tabs (sticky) -->
  {% if "navigation.tabs.sticky" in features %}
    {% if "navigation.tabs" in features %}
      {% include "partials/tabs.html" %}
    {% endif %}
  {% endif %}
</header>
  
  