.select-wrapper {
	display: inline-flex;
	flex-direction: column;
}

#custom_select {
	margin-bottom: 5px;
}

#custom_select_list.select-hidden {
	display: none;
}

#custom_select_list {
	display: inline-flex;
	flex-direction: column;
	padding-left: 0;
}

.custom-select__option:not(:last-child) {
	margin-bottom: 5x;
}

