@page {
    margin: 75mm 20mm 75mm 10mm !important;
    @bottom-center {
        font-size: 6pt;
        content: string(copyright);
    }
    @bottom-right {
        font-size: 10pt !important;
        content: counter(page)' of 'counter(pages);
      }
}


@media print {
/*     html {
        font-size: 95%;
      }

      body {
        font-size: 11pt !important;
        font-family: 'Noto Serif JP', serif;
      }
 */
      article {
        font-size: 11pt !important;
        line-height: 1.2 !important;
      }

      h1,
      h2,
      h3 {
          font-size: 12pt;
        font-family: 'Noto Sans JP', "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
      }

  }