name: BUILD PMM DOCS 1.x

on:
  push:
    branches:
      - 1.x

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: percona-platform/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup Python
        uses: percona-platform/setup-python@v2
        with:
          python-version: "3.x"

      - name: Setup MkDocs
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Setup PlantUML
        run: |
          sudo apt install -y graphviz
          sudo mkdir -p /opt/plantuml && wget -O /opt/plantuml/plantuml.jar https://downloads.sourceforge.net/project/plantuml/plantuml.jar
          sudo cp $GITHUB_WORKSPACE/_resources/bin/plantuml /usr/local/bin
          sudo chmod +x /usr/local/bin/plantuml

      - name: Configure git
        env:
          ROBOT_TOKEN: ${{ secrets.ROBOT_TOKEN }}
        run: |
          git config --global url."https://percona-platform-robot:${ROBOT_TOKEN}@github.com".insteadOf "https://github.com"
          git config user.name "GitHub Action"
          git config user.email "github-action@users.noreply.github.com"
          git config user.password "${ROBOT_TOKEN}"
          echo "GIT_USER=percona-platform-robot:${ROBOT_TOKEN}" >> $GITHUB_ENV

      - name: Run MkDocs (1.x)
        if: github.ref == 'refs/heads/1.x'
        run: |
          mike deploy -F mkdocs-percona.yml 1.x -b publish -p
          mike retitle -F mkdocs-percona.yml 1.x "PMM1 (1.17.4)" -b publish -p

      - name: Run MkDocs for Netlify/GitHub pages (1.x)
        if: github.ref == 'refs/heads/1.x'
        run: |
          mike deploy 1.x -p
          mike retitle 1.x "PMM1 (1.17.4)" -p
